body {
  margin:0;
  padding:0;
  color: #000;
  background: #908080;
}
#header h1{
  text-align: center;
  /* font-family: 'Josefin Sans', sans-serif; */
}

#description {
  /* font-family: 'Indie Flower', cursive; */
}

#simulation {
  float: left;
  /* width: 600px;
  height: 400px; */
  background-color: #000;
  border: 2px solid white;
  margin: 4px;
}
#parameters {
  margin-right: 1px;
  float:right;
  width: 200px;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

#buttons {
  margin: 1px;
  text-align: center;
  /*border-style: solid;
  border-width: thin;*/
}

.bar {
  fill: steelblue;
  stroke: white;
  stroke-width: 1px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 8px sans-serif;
}

#label--x, #label--y {
  font: 10px sans-serif;
}

#eigval {
  clear:both;
}

#eigvect {
  background-color: #888;
  border: 2px solid white;
  margin: 4px;
}

#footer {
  clear: both;
  text-align: center;
  font-size: 12px;
}

/* rect {
  fill: black;
  stroke: white;
  pointer-events: all;

} */

.node {
  fill: #f99;
  stroke:#fff;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  stroke: #999;
}

.arrow{
		stroke-width:2;
		stroke:#999;
}

.arrowHead{
		stroke-width:4;
		stroke:#f00;
    fill:#f00;
}
#arrowtip{
		stroke-width:4;
		stroke-dasharray:0;
}
