body {
  margin:0;
  padding:0;
  color: #000;
  background: #908080;
}
#header h1{
  text-align: center;
  /* font-family: 'Josefin Sans', sans-serif; */
}

#description {
  /* font-family: 'Indie Flower', cursive; */
}

#wrapper {
  /* width: 1000px; calculated in main.js*/
}

#simulation {
  float: left;
  /* width: 600px;
  height: 400px; */
  background-color: #000;
  border: 2px solid white;
  margin: 4px;
}
#parameters {
  margin: 4px;
  float:right;
  /* width: 200px;  calculated in main.js*/
  border: 2px solid black;
  text-align: center;
  position: relative;
}

#buttons {
  margin: 1px;
  text-align: center;
  /*border-style: solid;
  border-width: thin;*/
}


button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#pauseB:hover {
  background-color: #555;
  /* color: yellow; */
}
#pauseB:active {
  background-color: #999;
}
#pauseB {
    background-color: #999;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;

    /* position: absolute; */
    top: 10px;
    left: 10px;
}

#paramText {
  position: absolute;
  font-size: 12px;
  /* font-weight: bold; */
  text-align: left;
  bottom: 5px;
}

.bar {
  fill: steelblue;
  stroke: white;
  stroke-width: 1px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 8px sans-serif;
}

#label--x, #label--y {
  font: 10px sans-serif;
}

#eigval {
  clear:both;
}

#eigvect {
  background-color: #888;
  border: 2px solid white;
  margin: 4px;
}

#footer {
  clear: both;
  text-align: center;
  font-size: 12px;
}

/* rect {
  fill: black;
  stroke: white;
  pointer-events: all;

} */

.node {
  fill: #f99;
  stroke:#fff;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  stroke: #999;
}

.arrow{
		stroke-width:2;
		stroke:#999;
}

.arrowHead{
		stroke-width:4;
		stroke:#f00;
    fill:#f00;
}
#arrowtip{
		stroke-width:4;
		stroke-dasharray:0;
}
